[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DoubleExpSeq"]
	path = DoubleExpSeq
	url = https://github.com/cran/DoubleExpSeq
